<link href="css/dev/template2.css" rel = "stylesheet"></link>
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

<div class="background-img">
	<div class="shop-motto">
		<div class="shop-motto-logo"></div>
	</div>

	<div>
		<div class="col-md-12">
			<p class="template2-header text-center">Your Online Shop</p>
			<hr class="header-underline template2-dark">
		</div>
		<div class="col-md-7">
			<div class="template2-item1"></div>
		</div>
		<div class="col-md-5">
			<p class="template2-header">Classic, Stylish</p>
			<button class="template2-button">See More</button>
		</div>
	</div>
</div>