<link href="css/dev/template3.css" rel = "stylesheet"></link>

<div class="background-img col-sm-12">
	<div class="row blog-bar">
		<button class="col-sm-3 blog-button"><i class="fa fa-home" aria-hidden="true"></i> Home</button>
		<button class="col-sm-3 blog-button"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
		<button class="col-sm-3 blog-button"><i class="fa fa-rss" aria-hidden="true"></i> My Blog</button>
		<button class="col-sm-3 blog-button"><i class="fa fa-cog" aria-hidden="true"></i> Options</button>
	</div>

	<div class="picture-frame lvl-dp-1">
		<div class="user-picture"></div>
	</div>

	<p class="template3-header text-center">The Adventures of John Smith</p>
	<hr class="col-sm-offset-2 col-sm-8">
	<p class="template3-font col-sm-offset-1 col-sm-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris odio erat, tristique non tincidunt in, varius id lectus. Curabitur diam tortor, mollis a semper non, mattis eu urna. Donec tincidunt venenatis rutrum. </p>
	<p class="template3-font col-sm-offset-1 col-sm-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	<textarea class="template3-textarea col-sm-offset-1 col-sm-10" cols="60">Write a comment!</textarea>
	<button class="template3-button col-sm-offset-1 col-sm-10 pull-left">Send</button>
</div>