<link href="css/dev/template3.css" rel = "stylesheet"></link>

<div class="background-img col-sm-12">
	<div class="row blog-bar">
		<button class="col-sm-3 blog-button"><i class="fa fa-home" aria-hidden="true"></i> Home</button>
		<button class="col-sm-3 blog-button"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
		<button class="col-sm-3 blog-button"><i class="fa fa-rss" aria-hidden="true"></i> My Blog</button>
		<button class="col-sm-3 blog-button"><i class="fa fa-cog" aria-hidden="true"></i> Options</button>
	</div>

	<div class="picture-frame lvl-dp-1">
		<div class="user-picture"></div>
	</div>

	<p class="template3-header text-center">The Adventures of John Smith</p>
</div>