.info-section-content{
	font-size: 32px;
    font-weight: 300;
    line-height: 1.5;
    color: #fff;
}

.info-section-1{
	background-repeat:no-repeat;
	background: linear-gradient( rgba(171, 71, 188, 0.7), rgba(171, 71, 188, 0.7) ), url("/img/index/DesignerRoom.jpg") no-repeat;
	background-position: 0% 60%;
	background-size: cover;
	height:50vh;

	text-align: center;
}

@media only screen and (max-device-width: 768px){
	.info-section-content{
		font-size: 48px;
	}
}

/*==================================================================*/
/*==================================================================*/
/*==================================================================*/
/*==================================================================*/