<div class="container-fluid">
	<!-- Header Content -->
	<div class="row text-center">
		<div class="col-sm-12">
			<h1>It's Your App!</h1>
			<p class="highlight-quote">We'll design, build and maintain your application to start your business!</p>
			<hr class="header-underline">
		</div>
	</div>

	<!-- Body Content -->
	<div class="row">
		<div class="text-center center-block">
			<div class="col-sm-offset-1 col-sm-10">
				<div class="aboutus-section col-sm-12 col-md-4">
					<img class="icon-svg" src="/img/index/Clock.png"></img>
					<h3>Fast and integrative</h3>
					<p class="aboutus-content">Construct and deploy your very own application for your starting business. Work with our team of agile developers to get your business setup at your pace!</p>
				</div>
				<div class="aboutus-section col-sm-12 col-md-4">
					<img class="icon-svg" src="/img/index/ComputerPhone.png"></img>
					<h3>Mobile and PC Friendly</h3>
					<p class="aboutus-content">Web applications are always optimized for phones, tablets, and PC. Have your application appeal towards a wide range of users!</p>
				</div>
				<div class="aboutus-section col-sm-12 col-md-4">
					<img class="icon-svg" src="/img/index/Network.png"></img>
					<h3>Your business online</h3>
					<p class="aboutus-content">Get to managing the core of your business while we help you build your technology. DotStar will also consult and review your business plan to better your application!</p>
				</div>
			</div>
		</div>
	</div>
</div>