<div class="container-fluid">
    <div class="col-sm-12">
        <!-- Header Content -->
        <div class="row text-center">
            <div class="col-sm-12">
                <h1>Contact Us!</h1>
                <p class="highlight-quote">Interested in the service we offer? Have suggestions on the platforms we use? Let us know how we can improve!</p>
                <hr class="header-underline">
            </div>
        </div>

        <form class="form-horizontal section-content">
            <!-- Form -->
            <div class="col-md-offset-1 col-md-10">
                <div class="row">
                    <input class="contact-us-input" type="text" id="indexContactusName" ng-model="main.indexContactusName" placeholder="Name" required>
                </div>
                <div class="row">
                    <input class="contact-us-input" type="text" id="indexContactusEmail" ng-model="main.indexContactusEmail" placeholder="E-mail" required>
                </div>
                <div class="row">
                    <textarea class="contact-us-textarea" id="indexContactusMessage" ng-model="main.indexContactusMessage" placeholder="Message" required></textarea>
                </div>

                <button class="btn contact-us-button contact-us-button-pos" type="button" ng-click="main.submitContactUs()">Send</button>
            </div>
        </form>
    </div>
</div>
