<div class="container-fluid">
	<!-- Header Content -->
	<div class="row text-center">
		<div class="col-sm-12">
			<p>DotStar builds with</p>
			<hr class="header-underline">
		</div>
	</div>
	<div class="row text-center">
		<div class="col-sm-offset-1 col-sm-2">
			<img class="logo-svg" id="tech1-angular-logo" src="/img/logos/angular.svg"></img>
		</div>
		<div class="col-sm-2">
			<img class="logo-svg" id="tech1-wordpress-logo" src="/img/logos/wordpress.svg"></img>
		</div>
		<div class="col-sm-2">
			<img class="logo-svg" id="tech1-nodejs-logo" src="/img/logos/nodejs.svg"></img>
		</div>
		<div class="col-sm-2">
			<img class="logo-svg" id="tech1-mongodb-logo" src="/img/logos/mongodb.svg"></img>
		</div>
		<div class="col-sm-2">
			<img class="logo-svg" id="tech1-ionic-logo" src="/img/logos/ionic.svg"></img>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 text-right">
			
		</div>
	</div>
</div>