<div class="container-fluid">
	<!-- Header Content -->
	<div class="row text-center">
		<div class="col-sm-12">
			<h1>What We do!</h1>
			<p class="highlight-quote">Collaborative work with our clients to build their online business venture!</p>
			<hr class="header-underline">
		</div>
		<div class="col-sm-offset-1 col-sm-10">
			<div class="row section-content">
				<div class="col-sm-12 col-md-5">
					<img class="img-svg" src="/img/index/templates.jpg"></img>
				</div>
				<div class="col-sm-12 col-md-7 text-left">
					<p>DotStar provides affordable software development services to starting business and individuals looking to promote or provide an online service. Every app is built ready for launch on your hosting server!</p>
					<p class="section-content">Looking for a website? DotStar offers custom tailored designs for your need! Have your website built on a NodeJS platform or have us create it on WordPress!</p>
					<p class="section-content">Looking to provide an online service? Web applications vary greatly from business to business. Consult with us the service you have in mind and we'll plan, design, and create your application based on our recommendations!</p>
					<p class="section-content">Not sure how to host the application? DotStar offers a consulting service to help you setup and maintain the application on a cloud platform.</p>
				</div>
			</div>
		</div>
	</div>
</div>